#titulo {
    color: tomato;
}

p.especial {
    color: mediumseagreen
}

p.texto {
    color: slateblue;
}

div p {
    color:aquamarine
}

div h2, div h3 {
    color:brown
}

* {
    font-size: 24px;
    color:black; /* esto es un comentario */
} 

/* esto es un comentario */

/*
 esto es un comentario
que tiene muchas
lineas 
*/
/*
.color {
    color: #ff0000;
}
.color {
    color: rgb(255, 000, 255,);
}
*/
.color {
    /* border: 5px red inset; */
    /*
       dotted
       dashed
       solid
       double
       groove
       ridged
       inset
       outset
       none
       hidden
    */ 
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem;
}

#fondo {
    background-color: rgba(255,0,0,);
    /*opacity: 0,3;*/
    height: 200px;
    background-image: url("goku.png");
    background-size: 200px 200px;
    background-repeat: repeat-y;
    background-position: center;
}